@model ContactMeViewModel
@{
    Layout = "";
}
@{
    string text = null;
    if (string.IsNullOrEmpty(Model.Phone) == false && string.IsNullOrEmpty(Model.Email) == false)
    {
        text = "You can reach me by:";
    }
    else if (string.IsNullOrEmpty(Model.Phone) == false)
    {
        text = "You can reach me by phone:";
    }
    else if (string.IsNullOrEmpty(Model.Email) == false)
    {
        text = "You can reach me by email:";
    }
}
<div class="flex-grow"></div>
<img src="~/Content/images/oren.jpg" class="oren-photo img-center" />
<div class="flex-grow"></div>
<div>
    <span>@Model.FullName</span> <span>aka Ayende Rahien</span>
    <span>
        CEO of <a href="http://www.hibernatingrhinos.com/" class="about-link" target="_blank"><strong> Hibernating Rhinos LTD</strong></a>,
        which develops <a href="http://ravendb.net/" class="about-link" target="_blank"><strong>RavenDB</strong></a>,
        a NoSQL Open Source Document Database.
    </span>
</div>
<div class="flex-grow"></div>
<div class="about-info">
    @if (string.IsNullOrEmpty(text) == false)
    {
        <p class="margin-top">@text</p>
    }
    @if (string.IsNullOrEmpty(Model.Email) == false)
    {
        <p class="mail"><a href="@string.Format("mailto:{0}", Model.Email)">@Model.Email</a></p>
    }
    @if (string.IsNullOrEmpty(Model.Phone) == false)
    {
        <p class="phone">@Model.Phone</p>
    }

    <div class="flex-grow"></div>
</div>