<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#388ee9">
    <meta name="msapplication-TileColor" content="#388ee9">
    <meta name="theme-color" content="#388ee9">

    @{ 
        var banners = new List<Banner>
        {
            new Banner {ResourceUrl = "https://ravendb.net/?utm_source=ayende_blog&utm_medium=banner", ImageSrc = "Content\\css\\img\\banners\\ravendb-62.jpg", AltText = "RavenDB - Version 6.2 Now Live"},
            new Banner {ResourceUrl = "https://ravendb.net/whitepapers/couchbase-vs-ravendb-performance-at-rakuten-kobo?utm_source=ayende_blog&utm_medium=banner", ImageSrc = "Content\\css\\img\\banners\\couchbase-vs-ravendb-whitepaper.png", AltText = "Couchbase vs RavenDB Performance at Rakuten Kobo Whitepaper"},
            new Banner {ResourceUrl = "https://ravendb.net/workshops?utm_source=ayende_blog&utm_medium=banner", ImageSrc = "Content\\css\\img\\banners\\workshops-ravendb.png", AltText = "RavenDB Workshops - Deep dive into practical use of Document Data Modeling"},
            new Banner {ResourceUrl = "https://ravendb.net/learn/webinars?utm_source=ayende_blog&utm_medium=banner", ImageSrc = "Content\\css\\img\\banners\\webinars-ravendb.png", AltText = "Deep Dive into RavenDB webinars"},
        };

        var random = new Random();
        int index = random.Next(banners.Count);

        var bannerToDisplay = banners[index];

    }

    @if (ViewBag.BlogConfig.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.BlogConfig.MetaDescription">
    }
    @{
        ViewBag.Message = TempData["Message"] as string;
    }
    @if (string.IsNullOrWhiteSpace(Context.Request.QueryString["key"]) == false)
    {
        <meta name="robots" content="noindex" />
    }
    <title>
        @if (ViewBag.Title != null)
        {<text> @ViewBag.Title - </text>}@ViewBag.BlogConfig.Title
    </title>

    @RenderSection("HeaderAdditions", false)
    @Styles.Render("~/Content/css/styles")
    @Html.RenderTheme(ViewBag.BlogConfig.CustomCss as string)
    @RenderSection("Style", false)
</head>

<body class="show-grid">
    @{
        var containerClass = "body-container";
        if (SidebarHelper.ShouldShowSidebar() == false)
        {
            containerClass += " hideSidebar";
        }
    }
    <div class="@containerClass">
        <div class="leftSide">
            <header>
                <a href="@Url.Action("Index", "Posts")" class="logo">
                    <h1>Oren Eini</h1>
                    <span class="lead">aka Ayende Rahien</span>
                </a>
                <button class="menu-button" id="open-button"><i class="icon-arrow-down hide-sm" aria-hidden="true"></i></button>
            </header>
            <!--<a href="@Url.Action("Index", "Posts")" style="display: block;"><img src="~/Content/css/img/rihno.svg" class="rihno" /></a>-->

            <a href="@Url.Action("Index", "Posts")" class="logo-vertical">
                <h1>Oren Eini</h1>
            </a>

            <button class="menu-enlarge" id="enlarge-button"><i class="icon-circle-arrow-left hide-sm" aria-hidden="true"></i></button>
            <div class="collapseMobile flex-grow">
                <div class="about flex-grow @(ViewBag.IsHomePage ? "home" : string.Empty)">
                    @Html.RenderSection("Contact Me")
                </div>
                <div class="flex-grow"></div>
                <div class="rewards margin-top">
                    <a class="mvp-profile-vertical" href="https://mvp.microsoft.com/en-us/PublicProfile/4012807" title="Microsoft MVP Reconnect Oren Eini" target="_blank" rel="nofollow"><img src="~/Content/css/img/mvp-vertical.svg" /></a>
                    <a class="dzone-profile-vertical" href="https://dzone.com/users/750579/ayende.html" title="DZone 2020 Hall of Fame Award Winner" target="_blank" rel="nofollow"><img src="~/Content/css/img/dzone-vertical.svg" /></a>
                </div>
                <div class="pull-down">
                    @Html.RenderSection("Stats")
                    <p class="copyright">Copyright ©️ Ayende Rahien 2004 — @DateTime.Now.Year.ToString()</p>
                    <small class="text-muted"><a href="@Url.Action("Index", "privacy-policy")" class="legal-link">Privacy Policy</a></small>
                    <span class="separator margin-left-sm margin-right-sm">·</span>
                    <small class="text-muted"><a href="@Url.Action("Index", "terms")" class="legal-link">Terms</a></small>
                </div>
            </div>
        </div>
        <div id="content" class="centerCol flex-grow">
            <header class="body-header">
                <div class="search">
                    @using (Html.BeginForm("SearchResult", "Search", FormMethod.Get))
                    {
                        <input name="q" type="search" placeholder="search" class="form-control" value="@ViewBag.SearchTerm" />
                        <input type="submit" />
                    }
                </div>
                <div style="display:inline-block">
                    @if (Html.IsSectionActive("Tags"))
                    {
                        <a href="#" id="tags-button">
                            <span class="icomoon-position icon-tags" aria-hidden="true"></span> filter by tags
                        </a>
                    }
                    @if (Html.IsSectionActive("Archive"))
                    {
                        <a href="#" id="archive-button">
                            <span class="icomoon-position icon-archive" aria-hidden="true"></span> archive
                        </a>
                    }
                </div>
                <nav class="pull-right views @(ViewBag.ChangeViewStyle == null ? "hide" : "")">
                    <a href="#" class="stackView" id="stackView">stack view</a>
                    <a href="#" class="gridView active" id="gridView">grid view</a>
                </nav>

                <div class="clearfix"></div>
                @Html.RenderSection("Tags")
                @Html.RenderSection("Archive")
            </header>
            <div class="bnr-carousel">
                <a href="@bannerToDisplay.ResourceUrl" target="_blank"><img src="~/@bannerToDisplay.ImageSrc" class="img-responsive img-center" title="@bannerToDisplay.AltText" alt="@bannerToDisplay.AltText" /></a>
            </div>
            @RenderBody()
        </div>
        <section class="rightSide">
            @if (HttpContext.Current.Request.IsAuthenticated)
            {
                @Html.Action(MVC.Section.ActionNames.AdministrationPanel, MVC.Section.Name)
            }
            @{Html.RenderAction(MVC.Section.ActionNames.List, MVC.Section.Name);}
        </section>
    </div>

    @if (IsSectionDefined("Script"))
    {
        <script type="text/javascript">
            window.RaccoonRoutes = {};
        </script>
        <!--[if IE 8]>
            <script type="text/javascript" src="~/Content/js/respond.src.js"></script>
        <![endif]-->
        @Scripts.Render("~/Content/js/jquery")
        @Scripts.Render("~/Content/js/jquery-migrate")
        @Scripts.Render("~/Content/js/bootstrap")
        @Scripts.Render("~/Content/js/main")
        @RenderSection("Script")
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JWD0V24RSP"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date()); gtag('config', 'G-JWD0V24RSP');
        </script>
    }
    }
</body>
</html>